/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
@media (max-width: 550px) {
  h2 {
    font-size: 3rem;
  }
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
@media (max-width: 550px) {
  p {
    font-size: 1.4rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  border-bottom: 2px dashed #c0c0c0;
}
header .header-container {
  height: 6vh;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 550px) {
  header .header-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  header .header-container nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
header .header-container h1 {
  text-transform: capitalize;
}
@media (max-width: 550px) {
  header .header-container h1 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 3.5rem;
  }
}
header .header-container a {
  text-decoration: none;
  color: #212529;
  padding: 0 1.2rem;
  font-size: 1.4rem;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #ffebcd;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
@media (max-width: 550px) {
  .home {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 850px) {
  .home {
    width: 90%;
    margin: 0 auto;
  }
}
.home .welcome {
  border-bottom: 2px dashed #c0c0c0;
  padding-bottom: 1.5rem;
}
.home .welcome .img-container {
  margin-bottom: 2rem;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 550px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 550px) {
  .home .content-section .img-content {
    width: 100%;
    padding: 0;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 550px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #c0c0c0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 550px) {
  .home .inverse-content .text-content {
    padding: 0;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 550px) {
  .home .inverse-content .img-content {
    order: 1;
    padding: 0;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 550px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #c0c0c0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 10px;
  width: 85%;
  text-align: center;
  background-color: #17a2b8;
  color: #ffffff;
  border: 1px solid #17a2b8;
  cursor: pointer;
  transition: all 0.5s ease;
}
.home .content-pick .btn:hover {
  border: 1px solid #17a2b8;
  color: #17a2b8;
  background: #ffffff;
}
@media (max-width: 550px) {
  .home .content-pick .btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    background-color: #17a2b8;
    color: #ffffff;
    border: 1px solid #17a2b8;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .home .content-pick .btn:hover {
    border: 1px solid #17a2b8;
    color: #17a2b8;
    background: #ffffff;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 550px) {
  .home .content-pick .destination {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }
}
.home form {
  width: 80%;
  margin: auto;
  font-size: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.home form label {
  display: block;
  padding: 1rem 0.4rem;
}
.home form div {
  width: 50%;
}
@media (max-width: 550px) {
  .home form div {
    width: 100%;
  }
}
.home form input {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  outline: none;
  width: 80%;
  padding: 0.4rem;
  border: 1px solid #17a2b8;
  border-radius: 5px;
}
@media (max-width: 550px) {
  .home form input {
    width: 100%;
  }
}
.home form .textarea {
  width: 100%;
  margin-bottom: 1rem;
}
.home form .textarea textarea {
  padding: 0.4rem;
  font-size: 1.4rem;
  border: 1px solid #17a2b8;
  border-radius: 5px;
  width: 100%;
  outline: none;
}
.home form button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  background-color: #17a2b8;
  color: #ffffff;
  border: 1px solid #17a2b8;
  cursor: pointer;
  transition: all 0.5s ease;
}
.home form button:hover {
  border: 1px solid #17a2b8;
  color: #17a2b8;
  background: #ffffff;
}
@media (max-width: 550px) {
  .home form button {
    width: 40%;
  }
}
