// Mixins in here

.btnStyle() {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 12px;
  width: 85%;
  text-align: center;
  background-color: @button-bg;
  color: @white;
}
