// Navigation Styles here

header {
  border-bottom: 2px dashed @navigation-border;
  .header-container {
    height: 6vh;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      text-transform: capitalize;
    }

    a {
      text-decoration: none;
      color: black;
      padding: 0 1.2rem;
      font-size: 1.4rem;
    }
  }
}
